:root{
  --black: #000000;
  --gray: #575151;
  --gray-light: #A39999;
  --blue-more-light:#E4E4E4;
  --white:#F4F4F4;
  --orange: #fa6400;
  --purple: #9e0076;
  --green: #60ba00;
  --red: #e02020;
  --yellow: #f7b500;
}
