.title-h2{
  font-size: 20px;
  color: var(--white);
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  font-size: 12px;
}
.link{
  color: var(--green);
  cursor: pointer;
}
